@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400;1,500;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Ubuntu Sans", sans-serif;
    /* background-color: rgb(40, 41, 44);
    color: white; */
    /* overflow-x: hidden; */
  }
}

/* Hide the clear (cross) button in WebKit browsers (Chrome, Safari) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide the clear (cross) button in Internet Explorer and Edge */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background-color: rgb(240, 236, 236);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 156, 156);
  border-radius: 20px;
}

/* NavLink */
a.active {
  @apply text-blue-800;
}

.blr {
  /* background-color: rgba(3, 7, 18, 0.6) !important; */
  background-color: rgba(255, 255, 255, 0.6) !important;
  backdrop-filter: blur(30px) !important;
}

.cntrst {
  filter: brightness(70%);
}
